# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/
*.code-workspace

# Android (solo lo generado/local, NO todo el folder)
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/key.properties
*.keystore
*.jks

# iOS/macOS
ios/
macos/

# Other platforms
linux/
windows/
web/

# Firebase Functions (Node.js)
functions/node_modules/
functions/lib/
npm-debug.log*

# Misc
.metadata
.DS_Store
*.log
pubspec.lock
flutter_*.png
gitignore.txt